body{
   background-image: url("../assets/images/avion-volando-atardecer.png"); 
}

h1{

   font-size: 60px;
   font-family: fantasy;
   margin-left: 25%;
   margin: 30px 0 0 0;
   text-align: center;
   padding-top: 2%;    

}

.contenedor-imagen {
   padding-left: 50px;
   width: 400px; /* Ancho inicial */
   height: 200px; /* Altura se ajustará automáticamente */
   /* Para recortar la imagen si es necesario */
 }
 
 .contenedor-imagen img {
   width: 100%; /* Para que la imagen ocupe todo el contenedor */
   height: 100%; /* Altura se ajustará automáticamente */
   transition: all 0.3s ease; /* Efecto de transición suave */
 }

input[type=text], input[type=password]{
   width: 100%;
   padding: 8px 20px;
   border: 2px solid #ccc;
   box-sizing: border-box;
}

img{
   width: 100%;
   height: 100%;
}


label{
   font-size: 14px;
   font-weight: bold;
   font-family: Arial;    
}

input[type=submit]{
   background-color: #1C94C8;
   color: white;
   padding: 8px 10px;
   margin: 8px 0px;
   border: solid;
   cursor: pointer;
   width: 40%;
   
}

.envoltorio{
   margin-left: 5px;
   padding-top: 5%;
   display: flex; 
}




#texto1{
   display: block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: black;
   margin-top: 0%;
   margin-left: 60px;
   width: 70%;
}

#texto2{
   display: block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: black;
   margin-top: 0%;
   margin-left: 25px;
   width: 70%;
}

#texto3{
   display: block;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 15px;
   color:black;
   position: fixed;
   margin-left: 24%;
   margin-top: 0%;
   width: 50%;
}

#texto4{

   display: block;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 15px;
   color:black;
   position: fixed;
   margin-left: 60px;
   margin-top: 0%;
   width: 50%;

}

#texto5{

   display: block;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 15px;
   color:black;
   position: fixed;
   margin-left: 20px;
   margin-top: 0%;
   width: 50%;
}




